@import "tailwindcss";

@import '@shoelace-style/shoelace/dist/themes/light.css';

@layer base {
  :root,
  :host,
  .sl-theme-light {
    --sl-color-primary-50: var(--color-sky-50);
    --sl-color-primary-100: var(--color-sky-100);
    --sl-color-primary-200: var(--color-sky-200);
    --sl-color-primary-300: var(--color-sky-300);
    --sl-color-primary-400: var(--color-sky-400);
    --sl-color-primary-500: var(--color-sky-500);
    --sl-color-primary-600: var(--color-sky-600);
    --sl-color-primary-700: var(--color-sky-700);
    --sl-color-primary-800: var(--color-sky-800);
    --sl-color-primary-900: var(--color-sky-900);
    --sl-color-primary-950: var(--color-sky-950);
  }

  a:hover {
    cursor: pointer;
  }
}

@utility menu-item {
  @apply block py-2 pl-3 pr-4 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-sky-500 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700;
}

@utility menu-item.active {
  @apply block py-2 pl-3 pr-4 text-white bg-sky-500 rounded lg:bg-transparent lg:text-sky-500 lg:p-0 dark:text-white;
}
